$primary-color: #6C63FF;
$title-color: #373737;
$text-color: #9A9A9A;
$white: #FFFFFF;
$black: #000000;

$input-placeholder-color: #CDD0D3;
$input-border-color: #D3D7DB;

$body-bg-color: $primary-color;